.cs-footer {
    background-color: var(--secondary);
    color: var(--bodyTextColorWhite);
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.cs-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    margin: 1rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
    text-decoration: none;
    color: var(--secondaryLight);
}

.footer-section li {
    margin-bottom: 0.2rem;
    padding: 0.1rem 0;
    text-decoration: none;
    color: var(--secondaryLight);
}

.footer-section a {
    color: var(--bodyTextColorWhite);
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 0.2rem 0.3rem;
    display: inline-block;
    font-size: 0.9rem;
}

.footer-section a:hover,
.footer-section a:focus {
    text-decoration: none;
    background-color: var(--primaryLight);
    color: var(--secondaryLight);
    border-radius: 4px;
}

.cs-footer-bottom {
    text-align: center;
    margin-top: 1rem;
    border-top: 1px solid var(--bodyTextColorWhite);
    padding-top: 1rem;
    font-size: xx-small;
}

@media (max-width: 768px) {
    .cs-footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        margin: 1rem 0;
    }
}
