@media only screen and (min-width: 0rem) {
    #hero-1619 {
        padding: var(--sectionPadding);
        padding-top: clamp(12.5rem, 31.95vw, 18.75rem);
        position: relative;
        z-index: 1;
    }

    #hero-1619 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: clamp(3.75rem, 13vw, 11.25rem);
    }
}

@media only screen and (min-width: 48rem) {
    #hero-1619 {
        padding-bottom: 0;
    }

    #hero-1619 .cs-container {
        align-items: flex-start;
    }

    #hero-1619 .cs-content {
        text-align: left;
        margin-left: 0;
        align-items: flex-start;
    }

    #hero-1619 .cs-item {
        grid-column: span 6;
    }

    #hero-1619 .cs-background {
        height: 87%;
    }

    #hero-1619 .cs-background:before {
        background: linear-gradient(90deg, #111926 21.41%, rgba(17, 25, 38, 0.72) 34.98%, rgba(17, 25, 38, 0) 62.53%);
        opacity: 1;
    }
}

@media only screen and (min-width: 81.25rem) {
    #hero-1619 .cs-item {
        grid-column: span 3;
    }
}

@media only screen and (min-width: 100rem) {
    #hero-1619 .cs-background {
        background: url("../images/placeholder-alexa.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #hero-1619 .cs-background img {
        display: none;
    }
}
