html {
    background-color: #c1d8de;
    }  

p:hover {
    color: white;
    width: 500px;
    background: black;
    }

#main-header {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    }

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    }
  
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
  
.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    }

